SHOPIFY_API_KEY=Your Shopify API Key
SHOPIFY_API_SECRET_KEY=Your Shopify API secret key
SCOPES=write_customers,write_orders,write_products
# Leave HOST empty in dev mode, it will be auto generated.
HOST=Your Apps Url
SHOP=Your Dev Store Url
DEV_APP_SUBDOMAIN=The Subdomain for your localtunnel, e.g. my-app. If your subdomain is not available, you will get assigned a random subdomain.
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=